<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head"></head>
<body>
	<div th:replace="fragments/modal :: modal"></div>
	<nav th:replace="fragments/head :: menu"> </nav>
	<form class="col-3" action="#" th:action="@{/usuario/cadastrar}" th:object="${usuario}" method="post" autocomplete="off">
		<div class="mb-3">
		    <label for="nome" class="form-label">Nome Completo</label>
		    <input type="text" class="form-control" id="nome" name="nome">
	  	</div>
	  	<div class="mb-3">
		    <label for="login" class="form-label">Login</label>
		    <input type="text" class="form-control" id="login" name="login">
	  	</div>
	  	<div class="mb-3">
		    <label for="senha" class="form-label">Senha</label>
		    <input type="password" class="form-control" id="senha" name="senha">
	  	</div>
		<div class="mb-3">
		  <label for="repitaSenha" class="form-label">Repita a senha</label>
		  <input type="password" class="form-control" id="repitaSenha" onkeyup="matchSenha()">
		  <div class="senha-invalida">As senhas não são iguais.</div>
		</div>
		<div class="mb-3">
		 	<label class="form-label">Permissões</label>
		 	<br>
		    <th:block th:each="role : ${roles}">
            	<input type="checkbox" name="roles" th:value="${role.id}" onclick="disableCheckBoxesPermissoes()"/>
             	<label th:text="${role.nome}"></label>
           </th:block>
	  	</div>
  		<button type="submit" class="btn btn-primary btn-md" sec:authorize="hasAnyRole('ADMIN', 'ESCRITA')">Cadastrar</button>
	</form>
	<script type="text/javascript" src="../../../static/js/usuario/scripts.js" th:src="@{/js/usuario/usuario.js}"></script>
</body>
</html>