<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/head :: head"></head>

<body>
	<nav th:replace="fragments/head :: menu"> </nav>
	
	<div th:if="${msgSuccess != null}" class="alert alert-primary" role="alert">
  		<span th:text="${msgSuccess}"/>
	</div>
	<form id="lancarEstoque" action="#" th:action="@{/estoque/lancar}" th:object="${estoque}" method="POST">
		<div class="col-3 mb-3">
			<input type="hidden" id="produto" name="produto" th:value="${produto}"/>
			<div class="form-group">
				<label>Nome Produto</label>
				<input class="form-control mr-2" type="text" id="nome" name="nome"/>
				<div class="resultados" id="resultados"></div>
			</div>
			<div class="form-group">
				<label> Quantidade </label>
				<input type="number" class="form-control" name="quantidade" min="1" value="1"/>
			</div>
			<div class="form-group">
				<label>Tipo Lançamento</label>
				<select class="custom-select mr-2" name="tipoLancamento" th:value="${tipoLancamento}">
					<option th:each="tipo: ${tipoLancamentos}" th:value="${tipo}" th:text="${tipo}"></option>
				</select>
			</div>
			<button id="button" type="submit" class="col-3 btn btn-primary btn-md" disabled>Lançar</button>
		</div>
	</form>
	<link type="text/css" rel="stylesheet" href="../../../static/css/estoque/estoque.css" th:href="@{/css/estoque/estoque.css}" />
	<script type="text/javascript" src="../../../static/js/estoque/estoque.js" th:src="@{/js/estoque/estoque.js}"></script>
</body>
</html>