<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/head :: head"></head>

<body>
	<nav th:replace="fragments/head :: menu"> </nav>
	<form id="formBuscarProduto" action="#" th:action="@{/estoque/buscar}" method="GET">
		<div class="col-3 mb-3">
			<input type="hidden" id="produto" name="produto" th:value="${produto}"/>
			<input type="hidden" name="page" th:value="${page}"/>
			<input type="hidden" disabled name="totalPaginas" th:value="${totalPaginas}"/>
			<div class="form-group">
				<label>Nome Produto</label>
				<input class="form-control mr-2" type="text" id="nome" name="nome" th:value="${nome}"/>
				<div class="resultados" id="resultados"></div>
			</div>
			<div class="form-group">
				<label>Registros por página</label>
				<select class="custom-select mr-2" name="size" th:value="${size}">
					<option th:selected="${size == 10}" value="10">10</option>
					<option th:selected="${size == 30}" value="30">30</option>
					<option th:selected="${size == 50}" value="50">50</option>
				</select>
			</div>
			<button id="button" type="submit" class="btn btn-primary btn-md" disabled>Buscar</button>
		</div>
	</form>
	<div class="divEstoqueList" th:if="${estoqueList != null and estoqueList.size() > 0}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Quantidade Lançada</th>
					<th scope="col">Tipo Lançamento</th>
					<th scope="col">Data Lançamento</th>
					<th scope="col">Usuário</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estoque: ${estoqueList}">
					<th scope="row" th:text="${estoque.id}" />
					<td th:text="${estoque.quantidade}" />
					<td th:text="${estoque.tipoLancamento}" />
					<td th:text="${estoque.dataLancamento}" />
					<td th:text="${estoque.usuario.nome}" />
				</tr>
			</tbody>
		</table>
		<h5 th:if="${totalEstoque != null and totalEstoque >= 0}">
			Total: <span th:text="${totalEstoque}" class="badge badge-success"></span>
		</h5 >
		<h5 th:if="${totalEstoque != null and totalEstoque <= 0}">
			Total: <span th:text="${totalEstoque}" class="badge badge-danger"></span>
		</h5>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
		    	<li class="page-item"><a class="page-link" href="#" th:attr="onclick=|buscarProdutoPrevNext('Prev')|">Anterior</a></li>
			    	<th:block th:each="i: ${#numbers.sequence(0, totalPaginas-1)}">
					    <li class="page-item"><a class="page-link" href="#" th:text="${i+1}" th:attr="onclick=|buscarProdutosPagina('${i}')|"></a></li>
					</th:block>
		    	<li class="page-item"><a class="page-link" href="#" th:attr="onclick=|buscarProdutoPrevNext('Next')|">Próximo</a></li>
		  	</ul>
		</nav>
	</div>
	<div th:if="${estoqueList != null and estoqueList.size() == 0}">
		<span>Nada foi lançado para este produto!</span>
	</div>
	<link type="text/css" rel="stylesheet" href="../../../static/css/estoque/estoque.css" th:href="@{/css/estoque/estoque.css}" />
	<script type="text/javascript" src="../../../static/js/estoque/estoque.js" th:src="@{/js/estoque/estoque.js}"></script>
</body>
</html>